<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
<div>
</div>
<a th:text="${title}"></a>
<ul>
    <li th:text="${feedback.id}"></li>
    <li th:text="${feedback.msgId}"></li>
    <li th:text="${feedback.rfc}">11</li>
    <li th:text="${feedback.userId}">11</li>
    <li th:text="${feedback.userName}">11</li>
    <li th:text="${feedback.dataKey}">11</li>
    <li th:text="${feedback.flag}">11</li>
    <li th:text="${feedback.message}">11</li>
    <li th:text="${feedback.timestamp}">11</li>
    <li th:text="${feedback.version}">11</li>

</ul>
</body>
</html>
